<div
  class="container mt-5 d-flex flex-column justify-content-center align-items-center"
  
>
  <div class="select">
    <select name="filter" id="filter" style="width:10vw; height:40px;border-radius:15px;">
      <option value="all">全部</option>
      {{#each allCategories}}
      <option value="{{this.categoryName}}">{{this.categoryName}}</option>
      {{/each}}
    </select>
    <a href="/record/new" class="btn btn-outline-primary">
      create
    </a>
  </div>
  <div class="record-list mt-5" style="width:60vw">
    <ul class="list-group">
      <li class="list-group-item">
          <div class="container col-auto me-auto">
            <div class="row">
               <div class="img col" style="width:100px; ">
               類別
              </div>
              <div class="text col">
                <h2>名稱</h2>
              </div>
              <div class="amount col"><h1>金額</h1></div>
              <div class="col-auto ">
                選項
              <div>
            </div>
          </div>
      </li>
      {{#each records}}

      <li class="list-group-item">
          <div class="container col-auto me-auto">
            <div class="row">
               <div class="img col" style="width:100px; ">
                {{{this.img}}}
              </div>
              <div class="text col">
                <h2>{{this.recordName}}</h2>
                <p>{{this.date}}</p>
              </div>
              <div class="amount col"><h1>${{this.amount}}</h1></div>
              <div class="col-auto ">
                <a class="btn btn-success" href="/record/{{this._id}}/edit">edit</a>
                <form action="/record/{{ this._id }}?_method=DELETE" method="POST"  style="display: inline;">
                  <button class="btn btn-danger" type="submit">delete</button>
                </form>
              <div>
            </div>
          </div>
      </li>

      {{/each}}
    </ul>
  </div>
</div>
